*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.border{
  border: 1.5px solid transparent;
}
.border hover{
  border: 1.5px solid white;
}
.hero{
  background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
#renewal_video {
    height: 150px;
    width: 250px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    margin: 50px;
    border-radius: 4px;
  }
  #renewal_video video {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .renewal_text{
    padding-left: 100px;
  }
  .health_text{
    padding-left: 125px;
    
  }
  #health_video{
    height: 150px;
    width: 250px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    margin: 50px;
    border-radius: 4px;
  }
  #health_video video{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  #transportation_video{
    height: 150px;
    width: 250px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    margin: 50px;
    border-radius: 4px;
  }
  #transportation_video video{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .transportation_text{
    padding-left: 110px;
    
  }


  #collaboration_video {
    height: 150px;
    width: 250px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    margin: 50px;
    border-radius: 4px;
  }
  #collaboration_video video {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .collaboration_text{
    padding-left: 36px;
  }
  .agriculture_text{
    padding-left: 125px;
    
  }
  #agriculture_video{
    height: 150px;
    width: 250px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    margin: 50px;
    border-radius: 4px;
  }
  #agriculture_video video{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .water_resource{
    padding-left: 20px;
  }
  #water_resource_video{
    height: 150px;
    width: 250px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    margin: 50px;
    border-radius: 4px;
  }
  #water_resource_video video{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .water_resource_text{
    padding-left: 43px;
    
  }

  #biodiversity_video {
    height: 150px;
    width: 250px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    margin: 50px;
    border-radius: 4px;
  }
  #biodiversity_video video {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .biodiversity_text{
    padding-left: 100px;
  }
  .disaster_text{
    padding-left: 78px;
    
  }
  #disaster_video{
    height: 150px;
    width: 250px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    margin: 50px;
    border-radius: 4px;
  }
  #disaster_video video{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  #unitednation_video{
    height: 150px;
    width: 250px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    margin: 50px;
    border-radius: 4px;
  }
  #unitednation_video img{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .unitednation_text{
    padding-left: 110px;
    
  }


  .nav{
    height: 50px;
    width: 100vw;
    background-color: #262626;
    display: flex;
  }
  .white{
    color: white;
  }
  #sinha{
    border-radius: 50%;
     object-fit: cover;
     width: 100%;
     height: 100%;
  }
  #alapan{
    border-radius: 50%;
     object-fit: cover;
     width: 100%;
     height: 100%;
  }
  .sinha{
    height: 200px;
    width:200px;
 
  }
  .home{
    display: flex;
   color: white;
   height: 20px;
   width: 100px;
   align-items: center;
   padding-top: 25px;
  }
  #homeIcon{
    margin-bottom: 3px;
    color: #F2F2F2;
  }
  #homeText{
    margin-left: 4px;
    color: #F2F2F2;
  }
.bottom{
    height: 50px;
    width: 100vw;
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center
} 

.hero{
 
}
.first_row{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
}

.second_row{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
}

.third_row{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
}











